:root {
    --branding-color: #6c63ff;
    --secondary-color: #F9F7FE;
    --heading-font-family: "Playfair Display",
        serif;
    --default-font-family: "Poppins",
        sans-serif;
    --default-text-color: #272142;
}

body {
    font-family: var(--default-font-family);
    color: var(--default-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
    font-weight: bold;
    color: black;
}

h1 {
    font-size: 96px;
    line-height: 1.5;
}

p {
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 18px;
}

footer {
    background-color: var(--secondary-color);
    padding: 30px;
    text-align: center;
}

.logo {
    max-width: 20%;
}

.btn-selected {
    background: var(--branding-color) ! important;
    color: white !important;
    padding: 9px 15px !important;
    font-size: 14px;
    border-radius: 20px;
}

.btn-selected:hover {
    background: white ! important;
    color: var(--branding-color) !important;
    border: 1px solid var(--branding-color) !important;
}

.btn-unselected {
    background: white ! important;
    color: var(--branding-color) !important;
    padding: 9px 15px !important;
    font-size: 14px;
    border-radius: 20px;
}

.btn-unselected:hover {
    border: 1px solid var(--branding-color) !important;
}

.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 120px 20px 80px;
}

.hero p {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

.hero h2 {
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5;
    color: var(--default-text-color);
}

.presentation {
    font-size: 24px;
    margin: 40px 120px;
}

.btn-branding {
    background-color: var(--branding-color);
    color: white;
    border-radius: 20px;
    padding: 18px 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
}

.btn-branding:hover {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
}

.btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 20px;
    padding: 18px 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
}

.btn-branding-outline:hover {
    background-color: var(--branding-color);
    color: white;
}

.project-description {
    padding: 90px 60px;
}

.email {
    padding-bottom: 40px;
}

.email-contact {
    color: var(--default-text-color);
    text-decoration: none;
    font-size: 24px;
}

.email-contact:hover {
    color: var(--branding-color);
    text-decoration: underline;
    font-size: 28px;
}

.media {
    color: var(--default-text-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
}

.media:hover {
    color: var(--branding-color);
    text-decoration: underline;
    font-size: 16px;
    font-weight: 300;
}

.fa-brands {
    color: var(--branding-color);
    font-size: 24px;
}

.about-container,
.work-container {
    padding: 80px 20px;
}

.work-container {
    text-align: center;
}

.contact-container {
    padding: 80px 300px;
}

.portrait {
    border-radius: 10px;
    width: 80%;
    margin: 40px;
}

.access-project {
    color: var(--default-text-color);
    text-decoration: none;
}

.access-project:hover {
    color: var(--branding-color);
    text-decoration: underline;
    font-size: 18px;
}

.zoom-image:hover {
    transform: scale(1.05);
}

@media (max-width: 900px) {
    h1 {
        font-size: 44px;
        line-height: 2;
    }

    h2 {
        font-size: 44px;
    }

    .hero,
    .work-container {
        padding: 120px 20px;
    }

    .project-description {
        padding: 0;
        text-align: center;
    }

    .about-container,
    .contact-container {
        padding: 80px 0;
    }

    .about-description {
        text-align: center;
    }

}

@media (max-width: 1024px) {
    .project-description {
        padding: 60px 30px;
    }
}